/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img{
    display: block;
}

.profile-image img{
    display:inline-block;
    border: 10px solid #49907b;
    border-radius: 50%;
    width: 15%;
    float: left;
}

.profile-user-settings .profile-stats .profile-bio{
    float: right;
    margin-left: 50%;
}

.profile-user-settings{
    display: flex;
    margin-left: 20%;
}

.profile-user-settings h1{
    font-weight: lighter;
}

.profile-stats ul{
    display: flex;
    margin-left: 20%;
    list-style-type: none;
}
.profile-bio{
    margin-left: 20%;
}

